@using Slipp.Services.DTO
@using Slipp.Services.Models

<div>
    <a href="/klubb/@Club.Id"> @*OBS hur länkar jag till rätt sida med mudblazor? Kan jag skicka med hela objektet?*@
    <div class="component-content">
        <div class="my-club-card" style="background-image: url('@Club.Images[0].Url');">
            <div class="my-clubCard-content">

                <MudCardHeader>
                    <CardHeaderContent>
                        <div class="club-info">
                            <MudAvatar Style="margin-bottom: 5px;" Color="Color.Secondary">C</MudAvatar>
                            <MudText Typo="Typo.h4">@Club.Name</MudText>
                        </div>
                    </CardHeaderContent>

                </MudCardHeader>
                <MudCardContent>
                    <div class="club-info">
                        <MudIconButton Icon="@Icons.Filled.LocationOn" Color="Color.Default"/>
                        <MudText Typo="Typo.body2">@Club.Address</MudText>
                    </div>
                    @*<div class="club-info">
                        <MudIconButton Icon="@Icons.Filled.AddToHomeScreen" Color="Color.Default"/>
                        <MudLink Href="@Club.Website" Target="_blank" Underline="Underline.Always" Typo="Typo.body2">@Club.Website</MudLink>
                    </div>*@
                    <div class="club-description">
                        <MudText Typo="Typo.body2">@Club.Description.Substring(0, 100)... </MudText>
                    </div>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-end">

                    <MudLink Href="/nattklubbar">
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Biljetter</MudButton>
                    </MudLink>
                    <MudLink Href="/nattklubbar">
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Auktioner</MudButton>
                    </MudLink>
                </MudCardActions>

            </div>
        </div>
    </div>
    </a>
</div>

@code {
    [Parameter] public ClubOutput Club { get; set; }
     
    
}