@using Slipp.Services.DTO
@using Slipp.Services.Models


<div class="component-content">
    <div class="club-page-header" style="background-image: url('@Club.Images[0].Url');">
        <div class="club-page-header-content">
            <div class="club-page-top-icons">
                <MudIconButton Icon="@Icons.Filled.ArrowCircleLeft" Color="Color.Default"/> @*Länka till returnUrl*@
                <MudIconButton Icon="@Icons.Filled.FavoriteBorder" Color="Color.Default"/> @*Byt till icon @Icons.Filled.Favorite och lägg till i favoriter-listan*@
            </div>
            <div >
                <MudText Typo="Typo.h1">@Club.Name</MudText>
            </div>
        </div>
    </div>
    <div class="club-page-info">
        <MudText Typo="Typo.body1">@Club.Description</MudText>
        <div class="club-info">
            <MudIconButton Icon="@Icons.Filled.LocationOn" Color="Color.Default"/>
            <MudText Typo="Typo.body2">@Club.Address</MudText>
        </div>
        <div class="club-info">
            <MudIconButton Icon="@Icons.Filled.AddToHomeScreen" Color="Color.Default"/>
            <MudLink Href="@Club.Website" Target="_blank" Underline="Underline.Always" Typo="Typo.body2">@Club.Website</MudLink>
        </div>
    </div>
</div>



@code {
    [Parameter] public ClubOutput Club { get; set; }
     

    
}
