@using Slipp.Services.DTO

<div class="component-content">
    <div class="my-card" style="background-image: url('@Ticket.Images[0].Url');">
       
        <div class="my-card-content">
            <div class="ticket-circles">
                <p id="tl"></p>
                <p id="bl"></p>
                <p id="mu"></p>
                <p id="ml"></p>
                <p id="tr"></p>
                <p id="br"></p>
            </div>

            <div id="content-left">
                <MudText Typo="Typo.body2">SLIPP-biljett till</MudText>
                <MudText Typo="Typo.h2">@Ticket.Title</MudText>
                <MudContainer>
                    <MudText Typo="Typo.body1">Tillgängliga biljetter:</MudText>
                    <MudText Typo="Typo.h3">8</MudText>
                    <MudText Typo="Typo.body2">@Ticket.StartValidTime.ToShortDateString() | @Ticket.StartValidTime.ToShortTimeString()</MudText>
                </MudContainer>

                @*</MudCard>*@
            </div>
            <div id="content-right">
                <MudText Typo="Typo.body2">Entré + köföreträde:</MudText>
                <MudText Typo="Typo.h5">@Ticket.Price SEK</MudText>
                <MudIconButton Icon="@Icons.Filled.FavoriteBorder" Color="Color.Default"/> @*Byt till icon @Icons.Filled.Favorite och lägg till i favoriter-listan*@
            </div>
        </div>
    </div>
</div>



@code {
    [Parameter] public CreateTicketOutput Ticket { get; set; }
        
}