@using Slipp.Services.DTO

<div class="component-content">
    <div class="my-card" style="background-image: url('@Ticket.Images[0].Url');">
       
        <div class="my-card-content">
            <div class="date-avatar">
            <MudAvatar Style="height:48px; width:48px; position:absolute; top:10px; left:10px; font-size: 0.8rem; color:#121821; font-weight: 600;"  Color="Color.Primary">@Ticket.StartValidTime.ToString("dd") <br/> @Ticket.StartValidTime.ToString("MMM").Remove(3, 1).ToUpper()</MudAvatar>
            </div>
                <div class="ticket-circles">
                <p id="tl"></p>
                <p id="bl"></p>
                <p id="mu"></p>
                <p id="ml"></p>
                <p id="tr"></p>
                <p id="br"></p>
            </div>

            <div id="content-left">
                <MudText Typo="Typo.h2">@Ticket.ClubName</MudText>
                <MudText Typo="Typo.body2">@Ticket.Title</MudText>
                <MudContainer>
                    <hr class="hr-divider"/>
                    <MudText Typo="Typo.body2">Antal biljetter:</MudText>
                    <MudText Typo="Typo.h3">8</MudText>
                    <MudText Typo="Typo.body2">@Ticket.StartValidTime.ToShortDateString() | @Ticket.StartValidTime.ToShortTimeString()</MudText>
                </MudContainer>
            </div>
            <div id="content-right">
                <MudText Typo="Typo.body2">Entré + Köföreträde</MudText>
                <MudText Typo="Typo.h5">@Ticket.Price SEK</MudText>
                @if(IsFavourite)
                {
                    <MudIconButton Icon="@Icons.Filled.Favorite" Color="Color.Primary" OnClick="MakeFavourite"/> 
                }
                else
                {
                    <MudIconButton Icon="@Icons.Filled.FavoriteBorder" Color="Color.Primary" OnClick="MakeFavourite"/> 
                }
                
            </div>
        </div>
    </div>
</div>





@code {
    [Parameter] public CreateTicketOutput Ticket { get; set; }

    //TODO Kolla om den är favorit genom att kolla i savedByUser i AppUser
    public bool IsFavourite = false;

    public void MakeFavourite()
    {
        if (IsFavourite)
        {
            IsFavourite = false;
    @*ToDO Ta bort ur favoriter-listan*@
        }
        else
        {
            IsFavourite = true;
    @*TODO Lägg till i favoriter-listan*@
        }
    }
       

}